/* Question 1: Why is the counter value not centered? (vertically) */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
}

#counter-value {
  padding-bottom: 20px;
  font-size: 48px;
  /*#1 adding padding*/

  /* Question 2: Why is the color not applying to the counter value? */
  /*#2 took out text-emphasis-color and added just color*/
  color: #ff6347;
}
